@charset "utf-8";
body {
    font-family: sans-serif;
    overflow: hidden;
    background-color: #7da4cd;
}

.balloon_left, .balloon_right {
    word-break: break-all;
    position: relative;
    text-align: left;
    padding: 10px;
    width: fit-content;
    min-width: 20px;
    max-width: 600px;
    min-height: 20px;
    color: #555;
    font-size: 15px;
    border-radius: 15px;
}

.balloon_left {
    float: left;
    clear: both;
    background: #fff;
    margin: 10px 45px 10px 40px;
}

.balloon_right {
    float: right;
    clear: both;
    background: #30e852;
    margin: 10px 22px 10px 50px;
}

.balloon_left:before, .balloon_right::before {
    content: "";
    position: absolute;
    top: 5px;
    border: 8px solid transparent;
}

.balloon_left:before{
    left: -19px;
    border-right: 18px solid #fff;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.balloon_right::before{
    right: -19px;
    border-left: 18px solid #30e852;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.balloon_left h3, .balloon_right.balloon_left h3 {
    margin: 10px 0;
}

.balloon_left p, .balloon_right p {
    margin: 0px;
    padding: 0px;
}

.balloon_left .icon {
    font-size: 20px;
    position: absolute;
    top: -5px;
    left: -35px;
}

.timestamp {
    font-size: 11px;
    position: absolute;
    bottom: 0;
}

.balloon_left .timestamp {
    right: -35px;
}

.balloon_right .timestamp {
    left: -35px;
}

.talk-title {
    z-index: 1;
    background: #273246;
    color: #fff;
    font-size: 200%;
    font-weight: 700;
    position: fixed;
    max-height: 40%;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

.talk-title p{
    margin: 5px 50px;
}

.button a {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    transform: rotate(-135deg);
}
.button a:hover {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}

.messages {
    background-color: #00000000;/*スマホ画面の背景色*/
    font-size: 14px;/*画面内のフォントサイズ*/
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 65px;
    margin-bottom: 45px;
    overflow: scroll;
    box-sizing: border-box;
}

.input {
    background: #fff;
    display: flex;
    position: fixed;
    max-height: 50%;
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
}

.input textarea {
    resize: none;
    background: #e8e8e8;
    border: 1px solid #a4a4a4;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 10.4em;
    min-height: 1.3em;
    line-height: 1.3em;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: 10px;
    margin-right: 80px;
    font-size: 15px;
    font-weight: 400;
    padding: 3px 3px 0 5px;
    border-radius: 6px;
    color:#666666;
}

.input input {
    background: #e8e8e8;
    border: 1px solid #a4a4a4;
    position: absolute;
    width: 40px;
    height: 28px;
    bottom: 10px;
    right: 15px;
    margin: auto;
    padding: 0 5px;
    border-radius: 7px;
    color:#3d74ff;
}
